body {
    background-color: #FEFBF3;
    color: black;
    text-align: center;
    font-size: 1em;
}

/**Header Style**/
#header-nav {
	background-color: #FFFFDD;
	border-radius: 0;
	border:0;
	opacity: 90%;
}

#logo-img {
  background: url('../images/RH_logo_md.png') no-repeat;
  width: 75px;
  height: 75px;
  margin: 10px 15px 10px 15px;
}

#nav-list {
  margin: auto;
  font-size: 1.5em;
}

footer {
	text-align: center;

}